header {
  margin-bottom: 2rem;
}

form.search-form {
  margin-bottom: 1rem;
}

div.search-results {
  margin-top: 1rem;
}

input.quantity {
  width: 33%;
  margin-top: 0.5rem;
}

input.quantity-cart {
  width: 10%;
  margin-top: 0.5rem;
}

h1.cart-product {
  margin-bottom: 0;
}