<h3 class="title is-4"><%= @category.name %></h1>

<h4 class="title is-5">Products in <%= @category.name %>:</h3>

<div class="columns is-multiline">
  <%= render partial: 'products/product',
             collection: @category.products,
             locals: { show_link: true } %>
</div>
