<h3 class="title is-3">All Products</h3>
<%= render partial: 'products/search_form' %>
<div class="columns is-multiline">
  <%= render partial: 'products/product',
                      collection: @products,
                      locals: { show_link: true} %>
</div>
<%= paginate @products %>