<h1><%= @product.name %></h1>

<% if @product.description.present? %>
  <p><strong>Description: </strong><%= @product.description %></p>
<% end %>
<p><strong>SKU: </strong><%= @product.sku %></p>

<h3><strong>Price: </strong><%= number_to_currency @product.price / 100 %></h3>